---
import PlayerInfo from "@/components/player-info.astro";
import Layout from "../layouts/Layout.astro";
import api from "../services/api";

const [error, data] = await api.getPlayers();

if (error) {
  throw new Error("Error al pedir los jugadores");
}

const { paging, response, results } = data;
---

<Layout title="Football Static | Home">
  <h1 class="text-3xl">Football Players</h1>
  <hr />

  <section aria-label="List of Football Players" class="w-full">
    <ul
      class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 justify-items-center gap-4"
    >
      {
        response.map(({ player }) => (
          <li>
            <PlayerInfo player={player} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
